.box {
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.box1 {
    background-color: lightblue;
    transition: background-color 2s ease;
}

.box1:hover {
    background-color: lightcoral;
}

.box2 {
    background-color: lightgreen;
    transition: transform 0.5s ease;
    
}

.box2:hover {
    transform: rotate(400000000deg);
}

.box3 {
    background-color: rgb(246, 246, 156);
    transition: width 1s ease, height 5s ease, backgroundd-color 3s ease;

}

.box3:hover {
    width: 200px;
    height: 200px;
    background-color: lightsalmon;
}

.box4 {
    background-color: lightcyan;
    transition: transform 10s ease;
    }

.box4:hover {
    transform: translateX(2000px) translateY(2000px);
}

.box5 {
    background-color: lightpink;
    transition: all 3s ease;
}

.box5:hover {
    width: 200px;
    height: 200px;
    background-image: ;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: black;
    margin: 20px;
}